.articles_container{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
}

.article_box{
    border: 1px solid #ff926b;
    background-color: #ffc38b;
    height:150px;
    box-sizing: border-box;
}

.article_box_header{
    background-color: #ff926b;
    color: #fff3cd;
}

.ui.grid{
    margin: 0 !important;
}


