body{
    box-sizing: content-box;
}

.top_bar{
    background-color: #ffffff;
    background-size: 100% auto;
    height: 130px;
}

.top_bar_mask{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    letter-spacing:2px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #fff3cd;
    background-color: #4d3e3e;
}

.top_bar_text_box{
    position: relative;
    margin:auto;
}

.menu_bar{
    background-color: rgba(0,0,0,0.8);
    height: 32px;
}

.search_field{
    height: 20px;
    margin: 5px;
    width: 33%;
    float: right;
    border-radius: 10px;
    border: 1px solid #675353;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
}

.search_field_icon{
    width: 18px;
    height: 18px;
    margin: auto 5px auto auto;
    float: right;
    display: inline-block;
}

.search_field_input{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 65%;
    margin: auto auto auto 10px;
    float: left;
    font-size: 16px;
    color: #ff926b;
}

.search_field_input:focus{
    outline: none;
}

.search_field_input::-webkit-input-placeholder{
    color: #675353;
}