@font-face {
    font-family: MyHeiti;
    src: url("./font/simhei.ttf");
}

.read-box{
    margin: 20px;
    font-family: MyHeiti;
}

.additionalLinksField{
    text-align: center;
    width:100%;
    padding: 30px;
    padding-top: 90px !important;
}
.linkcell{
    padding: 10px;
    color: #0033AA;
    width: auto;
    display: inline-block; !important;
    text-decoration:underline
}